[hooks]
        from-domain = sourceware.org
        mailinglist = /git/newlib-cygwin.git/hooks-bin/email_to.py

        # We do not want to force a maximum line length in commit
        # revision logs, as they get in the way of copy-pasting
        # debugging session, error messages, logs, etc.
        max-rh-line-length = 0

        # Reject merge commits on master: We request that people rebase
        # their changes before pushing instead (merge commits tend
        # to confuse git newcommers).
        reject-merge-commits = refs/heads/master

        # The style checker, applied to the contents of each file being
        # modified.
        style-checker = /git/newlib-cygwin.git/hooks-bin/style_checker

        # The URL where we can inspect the commit, inserted in the commit
        # notification email, and also copy sent to the file-commit-cmd.
        commit-url = "https://sourceware.org/git/gitweb.cgi?p=newlib-cygwin.git;h=%(rev)s"
        # Send a copy to bugzilla if a commit has a PR number in it.
        #file-commit-cmd = "/sourceware/infra/bin/email-to-bugzilla -G 'cygwin newlib'"
        # The script that calls the irker (IRC notification of new
        # commits).
        post-receive-hook = /git/newlib-cygwin.git/hooks-bin/post-receive

        # Do not send emails for the following branches (unofficial
        # third-party branches).
        no-emails = refs/heads/topic/.*

	# Commit messages should not be restricted to ISO-8859-15.
	no-rh-character-range-check = true
